body {
    font-family: Arial, sans-serif;
}

.hidden {
    display: none;
}

header {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f9f9f9;
}

button {
    cursor: pointer;
}

.login-body {
    background: linear-gradient(to right, #ffaf20, #cf426a);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    position: relative;
    font-family: 'Futura PT', sans-serif;
}

.login-container {
    animation: fadeIn 1s ease-in-out;
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background: #405e7f; /* New background color */
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.logo {
    position: absolute;
    bottom: 20px;
    width: 300px; /* Scaled to 2x */
}

.login-button {
    margin-top: 2rem; /* Add more margin to separate from the password field */
    border-radius: 0.5rem; /* Smooth edges */
}

input {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
}

input:focus {
    background-color: rgba(255, 255, 255, 1);
}

label {
    margin-bottom: 0.25rem; /* Move labels closer to textboxes */
}

form {
    display: flex;
    flex-direction: column;
}

img.h-4.w-4 {
    height: 1rem;
    width: 1rem;
}

input[type="password"] {
    padding-right: 2.5rem; /* Adjust padding to fit the eye icon inside the input field */
}